
/* Home Page Start */
*
{
    padding: 0;
    margin: 0;
}
/* Nav-bar code start */
#logimg{
    height: 50px;
    padding-top: 5px;
}
#nav-right{
    margin-left: 70px;
}
#navbarNavDropdown ul li a{
    color:  black;
}
#navbarNavDropdown ul li a:hover{
    color: red;
}

/* Nav-bar code end */

/* Header-img start */
/* Header-img start */
#header{
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url(../images/jannes-jacobs-FvGo3A9ptM0-unsplash-1-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.header-text{
    position: absolute;
    top: 35%;
    left: 140px;
}
#apptitle{
    position: absolute;
    top: 60%;
    left: 140px;
}
#playstore{
    position: absolute;
    top:70%;
    left: 240px;
}
#applestore{
    position: absolute;
    top:70% ;
    left: 130px;
}
#scanner1{
    position: absolute;
    top:77% ;
    left: 130px;
}
#scanner2{
    position: absolute;
    top:77% ;
    left: 240px;
}

/* Header image End */

/* I Am Section Start */
.impactor-box{
    box-shadow: 2px 1px 10px 0px rgba(0.017349243164081683, 0.017349243164081683, 0.017349243164081683, 0.14);
    border-style:solid ;
    border-color: var(--e-global-color-4f42aec );
    border: none;
    padding-left: 30px;
}
.ngo-h{
    color: #345695;   
}
.myHeading a{
    color: #345695;
}
.impactor-fl{
    font-size: 18px;
}
.impactor-button{
    border-radius: 20px;
    box-shadow: none;
}
/* I am Section Start */

/* Our Model Section Start */
.ourmodel{
    width: 100%;
    height: 300px;
    position: relative;
}
.ourmodel1{
    width: 25%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 10%;
}
.ourmodel2{
    width: 25%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 37%;
}
.ourmodel3{
    width: 25%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 65%;
}
.ourmodel-icon1{
    font-size: 36px;
    height: 60px;
    width: 60px;
    border: 2px solid red;
    border-radius: 50%;
    margin-left: 35%;
}
.ourmodel1:hover .ourmodel-icon1{
    background-color: red;
}
.ourmodel1:hover .ourmodel-icon1 a i{
    color: white;
}
.ourmodel2:hover .ourmodel-icon1{
    background-color: red;
}
.ourmodel2:hover .ourmodel-icon1 a i{
    color: white;
}
.ourmodel3:hover .ourmodel-icon1{
    background-color: red;
}
.ourmodel3:hover .ourmodel-icon1 a i{
    color: white;
}
.model-content a{
    font-size: 16px;
    color: gray;
}
.model-content {
    font-size: 16px;
    color: gray;
}
/* Our Model Section End */
/* Startof Poverty Section in Home Page */
.poverty-section{
    display: block;
}
.poverty-left{
    float: left;
}
.poverty-right{
    float: right;
}
/* End of Poverty Section in Home Page */

/* Start of Footer Section */
.footer{
    height: 400px;
    width: 100%;
    background-color: #132d5c;
    position: relative;
    margin-top: 80px;
    margin-left: 0px !important;
}
.Contact-section{
    width: 25%;
    height: 350px;
    position: absolute;
    top: 20px;
    left: 10%;
}
.Company-section{
    width: 25%;
    height: 350px;
    position: absolute;
    top: 20px;
    left: 37%;
}
.App-section{
    width: 25%;
    height: 350px;
    position: absolute;
    top: 20px;
    left: 65%;
}
.footer-icons a i{
    font-size: 30px;
    color:white;
    background-color: #6EC1E4;
    border: 2px solid #6EC1E4;
    border-radius: 10px;
    transition: width 2s,height 2s;
}
.footer-icons a i:hover{
    width:40px;
}


/* End of Footer Section */
/* Home Page End */

/* Grocery Supplier html Start */
#groceryHeader{
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url(../images/Grocery_supplier_images/Spice_market-India-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.header-text{
    position: absolute;
    top: 35%;
    left: 140px;
}
#apptitle{
    position: absolute;
    top: 60%;
    left: 140px;
}
#playstore{
    position: absolute;
    top:75%;
    left: 240px;
}
#applestore{
    position: absolute;
    top:75% ;
    left: 130px;
}
#scanner1{
    position: absolute;
    top:85% ;
    left: 130px;
}
#scanner2{
    position: absolute;
    top:85% ;
    left: 240px;
}
/* why become a grocery supplier section */
.Grocery-cards{
    width: 80%;
    height: 400px;
    position: relative;
}
.Grocery-cards1{
    width: 50%;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 10%;
}
.Grocery-cards2{
    width: 50%;
    height: 400px;
    position: absolute;
    top: 20%;
    left:65%;
}

/* MiM Shops Section */
.firstrow:hover .lahore h2{
    display: block;
    background-color: #010101;
}




/* Grocery Supplier html End */

/* About html */
.bg{
    width: 100%;
    height: 500px;
    background: url(/assets/images/Impact-MeterQuote.jpg);
    background-color: #010101;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-data{
    color: #F2E9EB;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    margin: 0% 0% 0% 0%;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
}

.about-heading {
    color: #d83456;
    line-height: 1;
    font-size: 39px;
    font-weight: 600;
}
.about-content > p {
    color: #54595f;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0px 0px 15px 0px;
    text-align: center;
}
.home-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home-bg > img {
    width: 36%;
    height: 379px;
}
.home-content-main-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content-main-heading > h2 {
    color: #d83456;
    font-size: 39px;
    font-weight: 600;
}

.home-content-para {
    display: flex;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.home-content-para > p {
    color: #54595f;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0px 0px 15px 0px;
}
.home-content-para > p > strong {
    color: #345695;
}

.wrapperrr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    place-items: center;
    position: relative;
}
.card-body {
    height: 90px;
    margin-top: -40px;
    width: 90%;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: -1.21px 6.894px 15px 0px rgba(0,0,0,0.07);
}
 #card1 {
    width: 350px;
    height: 350px;
    background: #F2E9EB;
 }
 /* .card-body::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(100% - 20px);
    z-index: -1;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    opacity: 0;
    border-radius: 10px;
    background-color: #fff;
 }
 .card-body::after {
    background-color: #ffffff;
    box-shadow: -1.21px 6.894px 15px 0px rgba(0,0,0,0.07);
} */
 #card1 > img {
    width: 350px;
    height: 350px;
 }
 #card2 {
    width: 350px;
    height: 350px;
    background: #F2E9EB;
 }
 #card2 > img {
    width: 350px;
    height: 350px;
 }
 #card3 {
    width: 350px;
    height: 350px;
    background: #F2E9EB;
 }
 #card3 > img {
    width: 350px;
    height: 350px;
 }

 .FAQ {
    margin: 3% 2% 2% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .FAQ > h2 {
    color: #d83456;
    font-size: 39px;
    font-weight: 600;
 }


/* About html end */